<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>
    <h1>FAQ</h1>
    <details>
        <summary>Place your question here!</summary>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nam ut 
                asperiores officiis repellat suscipit voluptates necessitatibus quos architecto magni dolore, 
                facere eos, eveniet ducimus minus laborum cupiditate quibusdam omnis?</p>
        </div>
    </details>
    <details>
        <summary>Place your question here!</summary>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nam ut 
                asperiores officiis repellat suscipit voluptates necessitatibus quos architecto magni dolore, 
                facere eos, eveniet ducimus minus laborum cupiditate quibusdam omnis?</p>
        </div>
    </details>
    <details>
        <summary>Place your question here!</summary>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nam ut 
                asperiores officiis repellat suscipit voluptates necessitatibus quos architecto magni dolore, 
                facere eos, eveniet ducimus minus laborum cupiditate quibusdam omnis?</p>
        </div>
    </details>
    <details>
        <summary>Place your question here!</summary>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nam ut 
                asperiores officiis repellat suscipit voluptates necessitatibus quos architecto magni dolore, 
                facere eos, eveniet ducimus minus laborum cupiditate quibusdam omnis?</p>
        </div>
    </details>
</body>
</html>