<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Wezesha Jamii</title>
</head>
<body>
    <div class="homepage">
            <div class="nav-bar">
                    <img class="header_logo" scr="/template/images/afya_logo.png" alt="" />
                    <h3 class="link1">User Info</h3>
                    <h3 class="link2">Report</h3>
                    <h3 class="link3">Get Help</h3>
                    <h3 class="link4">Contact Us</h3>
            </div>
            <div class="section">
                <h2 class="title1">Wezesha</h2>
                <h2 class="title2">Jamii</h2>
                <p class=home_paragraph>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                <img class="homepage_image" src="images/wezesha.png" alt="" />
                <button class="report_button">
                    Report Now
                </button>
            </div>
            <div class="user_info">
                    <h1>User info</h1>
                    <p>We refer you to a service provider to respond to your needs and help you.
                    </p>
                    <p>Tick what applies to you:</p>
                    <p>I understand that all information collected on this platfrom is confidential and 
                        will only be used to personalise recommendations and linkage to service.</p>
                    <p>I understand that all information collected on this platfrom is confidential 
                        and I do not wish to continue.</p>
                    <form>
                        <input class="user_details">
                        <input class="user_details">
                        <input class="user_details">
                    </form>
                    <p>Turn on you location.</p>
                    <icon class="icon2">Loading</icon>
            </div>
            <div class="report">
                <h1>Report</h1>
                    <table>
                        <tr>
                            <td>
                                <card class="card_1">
                                    <h3>Card 1</h3>
                                    <p>Did the incident happen to you?</p>
                                    <p>Yes, it happened to me</p>
                                    <p>No, to somebody I know</p>
                                </card>
                            </td>
                            <td>
                                <card class="card_2">
                                    <h3>Card 2</h3>
                                    <p>Are you...</p>
                                    <p>Female</p>
                                    <p>Male</p>
                                    <p>Other</p>
                                    <p>Do you have a disbility?</p>
                                    <p>No</p>
                                    <p>Yes</p>
                                    <button class="date_button">Date of Birth</button>
                                </card>
                            </td>
                            <td>
                                <card class="card_3">
                                    <h3>Card 3</h3>
                                        <p>What happened?</p>
                                        <p>I was raped</p>
                                        <p>I was punched</p>
                                        <p>I was denied food</p>
                                        <p>I was locked up</p>
                                        <p>Other</p>
                                </card>
                            </td>
                        </tr>
                    </table>
            </div>
            <div class="get_help">
                <h1>Get Help</h1>
                <div class="search-bar">
                    <div class="map_image">
                        <h3>Map Image</h3>
                    </div>
                    <icon class="icon"></icon>
                </div>
            </div>
            </div>
               
            <div class="contact_us">
                <h1>Contact Us</h1>
                <text class="contact_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</text>
            </div>
            <div class="footer">
                <div>

                </div>
                <div class="footer_text">
                    <text class="about_us">About Us</text>
                    <text class="faq">FAQ</text>
                    <text class="copyright">2020 © NashTheCoder. All rights reserved.</text>
                </div>
                <div>
                    
                </div>
            </div>
    </div>
    </div>
</body>
</html>