body {
    margin: 0 auto;
    background-color: white;
}

.container {
    width: 1366px;
    height: auto;
    margin: auto;
}

.logo {
    position: absolute;
    width: 156px;
    height: 116px;
    left: 71px;
    top: 30px;
    padding: 15px;
    float: left;
}

.main_menu > ul {
    margin:  0px;
    padding: 0px;
}

.main_menu > ul > ul{
    display: inline-block;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 147.6%;
    /* or 35px */
    letter-spacing: 0.06em;
    color: #000000;
}

.main_menu > ul > ul >a:hover{
    color: #3576C0;    
}

.top {
    position: absolute;
    width: 287px;
    height: 94.08px;
    left: 193px;
    top: 224px;
    margin-bottom: -5px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #3F4042;
    padding: 100px;
}

.bottom {
    position: absolute;
    width: 280.39px;
    height: 132.82px;
    left: 193px;
    top: 293.18px;
    margin-top: -15px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    font-variant-caps: all-small-caps;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #3F4042;
    padding: 100px;
}

.homepage > .p {
    position: absolute;
    width: 345px;
    height: 180px;
    left: 188px;
    top: 448px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 147.6%;
    /* or 30px */
    letter-spacing: 0.06em;
    color: #3F4042;
}

.home_image {
    float: right;
    padding: 15px;
    width: 641px;
    height: 621px;
}
#homepage {
    width: auto;
    height: 1024px;
    left: 0px;
    top: 3px;
    background: linear-gradient(180deg, #FFFFFF 46.09%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 19.01%, rgba(255, 255, 255, 0) 82.29%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(152, 195, 232, 0.08) 95.31%), rgba(152, 195, 232, 0.3112);
    background-size: 1366px;
}

#user_info {
    width: auto;
    height: 1024px;
    left: 0px;
    top: 1022px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #FFFFFF 19.01%, rgba(255, 255, 255, 0) 82.29%), linear-gradient(0deg, #98C3E8, #98C3E8), rgba(152, 195, 232, 0.3112);
}

#report {
    width: auto;
    height: 1024px;
    left: 0px;
    top: 2046px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #70A0D3;
}

#get_help {
    width: auto;
    height: 1050px;
    left: 0px;
    top: 3068px;
}

#contact_us {
    width: auto;
    height: 1069px;
    left: 0px;
    top: 4092px;

}

