body {
    position: ;
    width: 1366px;
    height: 5161px;
    background: #FFFFFF
}
    
.homepage {
    position: flex;
    width: 1366px;
    height: 1024px;
    left: 0px;
    top: 3px;
    background: 
    linear-gradient(180deg, #FFFFFF 46.09%, rgba(255, 255, 255, 0) 100%), 
    linear-gradient(180deg, #FFFFFF 19.01%, rgba(255, 255, 255, 0) 82.29%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(152, 195, 232, 0.08) 95.31%), rgba(152, 195, 232, 0.3112);
}

.nav-bar {
    position: flex;
    width: 856px;
    height: 35px;
    left: 406px;
    top: 74px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 147.6%;
    /* or 35px */
    letter-spacing: 0.06em;
    color: #000000;
}

.h3 {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 35px;
letter-spacing: 0.06em;
color: #000000;
}

.link1 {
    position: absolute;
    left: 29.72%;
    right: 61.79%;
    top: 1.43%;
    bottom: 97.89%;
}

.link2 {
    position: absolute;
    left: 47.95%;
    right: 45.61%;
    top: 1.43%;
    bottom: 97.89%;
}

.link3 {
    position: absolute;
    left: 64.13%;
    right: 27.45%;
    top: 1.43%;
    bottom: 97.89%;
}

.link4 {
    position: absolute;
    left: 82.28%;
    right: 7.61%;
    top: 1.43%;
    bottom: 97.89%;
}

.h2{
    position: absolute;
    width: 287px;
    height: 94.08px;
    left: 193px;
    top: 224px;
}

.home_paragraph {
    position: absolute;
    width: 345px;
    height: 180px;
    left: 188px;
    top: 448px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 147.6%;
    /* or 30px */
    letter-spacing: 0.06em;
    color: #3F4042;

}

.report_button {
    position: absolute;
    width: 220px;
    height: 56px;
    left: 227px;
    top: 696px;
    background: #0073C0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 108% */
    text-align: center;
    letter-spacing: 0.04em;
}

.homepage_image {
    position: absolute;
    width: 641px;
    height: 621px;
    left: 621px;
    top: 188px;
    border-radius: 75px;
}

.user_info {
    position: absolute;
    width: 1366px;
    height: 1024px;
    left: 0px;
    top: 1022px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), 
    linear-gradient(180deg, #FFFFFF 19.01%, rgba(255, 255, 255, 0) 82.29%), 
    linear-gradient(0deg, #98C3E8, #98C3E8), rgba(152, 195, 232, 0.3112);
    background-color: 
        position: absolute;
        width: 1366px;
        height: 142px;
        left: 0px;
        top: 1076px;
        background: #DFECF8;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 74px;
        /* identical to box height, or 168% */
    text-align: left;
    letter-spacing: 0.04em;
    color: #000000;
    }

.report {
    position: absolute;
    width: 1366px;
    height: 1024px;
    left: 0px;
    top: 2046px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #70A0D3;
}
                
.get_help {
    position: absolute;
    width: 1366px;
    height: 1050px;
    left: 0px;
    top: 3068px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 74px;
    /* identical to box height, or 168% */
    text-align: left;
    letter-spacing: 0.04em;
    color: #000000;
}
.search-bar {
    position: absolute;
    width: 921px;
    height: 57px;
    left: 339px;
    top: 59px;
    background: #ffffff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
}
.icon {
    position: absolute;
    height: 30.98px;
    left: 1208px;
    right: 127.06px;
    bottom: 949.02px;
    background: #C4C4C4;
}

                
.contact_us {
    position: absolute;
    width: 234px;
    height: 74px;
    left: 34px;
    top: 4168px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 74px;
    /* identical to box height, or 168% */
    text-align: left;
    letter-spacing: 0.04em;
    color: #000000;
    background-color: 
        position: absolute;
        width: 1366px;
        height: 142px;
        background: #DFECF8;
}
.contact_us > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: 0.04em;
    color: #000000;
    position: flex;
    width: 780px;
    height: 60px;
    left: 34px;
    top: 4240px;
}

.footer {
    position: sticky;
    display: flex;
    width: 1366px;
    height: 93px;
    left: 0px;
    top: 5068px;
    background: #0073C0;
    border-radius: 0px 100px 0px 0px;
}
